@import url("http://fonts.cdnfonts.com/css/sega-logo-font");

h1 {
  font-family: "SEGA LOGO FONT", sans-serif;
  font-weight: 200;
  color: #0ccac4;
}
@font-face {
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: 400;
  src: local('SEGA LOGO FONT'), url('https://fonts.cdnfonts.com/s/6218/SEGA.woff') format('woff');
}
